.nav-text {
    font-family: monospace;
}

.container {
    padding: 46px;
    margin-top: 85px;
    text-align: center;
    border-style: outset;
    background-color: lightgrey;
    font-family: monospace;
}

#display {
    overflow-wrap: break-word;
    
}